<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnfwsy.interfaces.mapper.sys.SysProvinceMapper">

    <sql id="searchInfoSql">
        `id` AS id,
        `province_name` AS  provinceName,
        `state` AS  state,
        `type` AS  type,
        `province_id` AS  provinceId
    </sql>


    <select id="queryInfo" resultType="com.cnfwsy.interfaces.bean.sys.SysProvince">
        select
        <include refid="searchInfoSql"/>
        FROM    t_sys_province a
        WHERE
            `province_id` = #{provinceId}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
        SELECT COUNT(*)
        FROM  t_sys_province a
        where `del_flag`=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*)
        FROM  t_sys_province
        where `del_flag`=0
         <if test="provinceName !=null and provinceName != ''">
            and  `province_name`  =#{provinceName}
         </if>
         <if test="state !=null and state != ''">
            and  `state`  =#{state}
         </if>
         <if test="type !=null and type != ''">
            and  `type`  =#{type}
         </if>
         <if test="provinceId !=null and provinceId != ''">
            and  `province_id`  =#{provinceId}
         </if>
    </select>

    <select id="searchInfos" resultType="com.cnfwsy.interfaces.bean.sys.SysProvince">
        SELECT
        <include refid="searchInfoSql"/>
        FROM  t_sys_province a
        WHERE del_flag=0
        <if test="provinceName !=null and provinceName != ''">
            and  `province_name`  =#{provinceName}
        </if>
        <if test="state !=null and state != ''">
            and  `state`  =#{state}
        </if>
        <if test="type !=null and type != ''">
            and  `type`  =#{type}
        </if>
        <if test="provinceId !=null and provinceId != ''">
            and  `province_id`  =#{provinceId}
        </if>
        limit #{start},#{pageSize}
    </select>

    <update id="updateInfo">
        update
            t_sys_province  a
        <set>
            <if test="provinceName !=null and provinceName != ''">
                `province_name`  = #{provinceName},
            </if>
            <if test="state !=null and state != ''">
                `state`  = #{state},
            </if>
            <if test="type !=null and type != ''">
                `type`  = #{type},
            </if>
            <if test="provinceId !=null and provinceId != ''">
                `province_id`  = #{provinceId},
            </if>
        </set>
        WHERE
            `province_id` = #{provinceId}
    </update>

    <update id="del">
        update  t_sys_province a
        set  `del_flag`=1
        where
            `province_id` = #{provinceId}
    </update>


    <insert id="add">
        insert into
        t_sys_province(`province_name`,`state`,`type`,`province_id`)
        values (#{provinceName},#{state},#{type},#{provinceId})
    </insert>


    <select id="options" resultType="map">
        select province_id,province_name
        FROM t_sys_province
        where type !=5 order by province_id asc
    </select>

</mapper>