<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnfwsy.interfaces.mapper.emp.EmpResCustomMapper">

    <sql id="searchInfoSql">
        `id` AS id,
        `resume_id` AS  resumeId,
        `create_time` AS  createTime,
        `description` AS  description,
        `update_time` AS  updateTime,
        `id` AS  id,
        `title` AS  title,
        `del_flag` AS  delFlag,
        `custom_id` AS  customId
    </sql>


    <select id="queryInfo" resultType="com.cnfwsy.interfaces.bean.emp.EmpResCustom">
        select
        <include refid="searchInfoSql"/>
        FROM    t_emp_res_custom a
        WHERE
        `del_flag`=0
        and
            `resume_id` = #{customId}
        limit 1
    </select>

    <select id="listInfosCounts" resultType="Integer">
        SELECT COUNT(*)
        FROM  t_emp_res_custom a
        where `del_flag`=0
    </select>

    <select id="listFilteredInfosCounts" resultType="Integer">
        SELECT COUNT(*)
        FROM  t_emp_res_custom
        where `del_flag`=0
         <if test="resumeId !=null and resumeId != ''">
            and  `resume_id`  =#{resumeId}
         </if>
         <if test="createTime !=null and createTime != ''">
            and  `create_time`  =#{createTime}
         </if>
         <if test="description !=null and description != ''">
            and  `description`  =#{description}
         </if>
         <if test="updateTime !=null and updateTime != ''">
            and  `update_time`  =#{updateTime}
         </if>
         <if test="id !=null and id != ''">
            and  `id`  =#{id}
         </if>
         <if test="title !=null and title != ''">
            and  `title`  =#{title}
         </if>
         <if test="delFlag !=null and delFlag != ''">
            and  `del_flag`  =#{delFlag}
         </if>
         <if test="customId !=null and customId != ''">
            and  `custom_id`  =#{customId}
         </if>
    </select>

    <select id="searchInfos" resultType="com.cnfwsy.interfaces.bean.emp.EmpResCustom">
        SELECT
        <include refid="searchInfoSql"/>
        FROM  t_emp_res_custom a
        WHERE del_flag=0
        <if test="resumeId !=null and resumeId != ''">
            and  `resume_id`  =#{resumeId}
        </if>
        <if test="createTime !=null and createTime != ''">
            and  `create_time`  =#{createTime}
        </if>
        <if test="description !=null and description != ''">
            and  `description`  =#{description}
        </if>
        <if test="updateTime !=null and updateTime != ''">
            and  `update_time`  =#{updateTime}
        </if>
        <if test="id !=null and id != ''">
            and  `id`  =#{id}
        </if>
        <if test="title !=null and title != ''">
            and  `title`  =#{title}
        </if>
        <if test="delFlag !=null and delFlag != ''">
            and  `del_flag`  =#{delFlag}
        </if>
        <if test="customId !=null and customId != ''">
            and  `custom_id`  =#{customId}
        </if>
        limit #{start},#{pageSize}
    </select>

    <update id="updateInfo">
        update
            t_emp_res_custom  a
        <set>
            <if test="resumeId !=null and resumeId != ''">
                `resume_id`  = #{resumeId},
            </if>
            <if test="description !=null and description != ''">
                `description`  = #{description},
            </if>
            <if test="title !=null and title != ''">
                `title`  = #{title},
            </if>
            <if test="customId !=null and customId != ''">
                `custom_id`  = #{customId},
            </if>
        </set>
        WHERE
        `resume_id`  = #{resumeId}
    </update>

    <update id="del">
        update  t_emp_res_custom a
        set  `del_flag`=1
        where
           `resume_id`  = #{resumeId}
    </update>


    <insert id="add">
        insert into
        t_emp_res_custom(`resume_id`,`description`,`title`,`custom_id`)
        values (#{resumeId},#{description},#{title},#{customId})
    </insert>


</mapper>