<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate" media="handheld"/>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>招徕网-专业的医疗生物职业求职平台-中国卫生人才网</title>
    <meta content="招徕网(www.zzlinks.cn)是普壳软件旗下的专业医药生物求职招聘平台,提供全国真实的医院、药企、科研单位、生物公司的招聘信息,医学药学生物行业找工作首选招徕网" name="description">
    <meta name="keywords"  content="医院招聘,医药招聘,医生招聘,护士招聘,找工作,招聘网,招徕网人才网,医学人才网,普壳软件"/>
    <link rel="Shortcut Icon" href="/resources/zlstatic/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/resources/zlstatic/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/thirdparty/css/external.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/thirdparty/css/popup.css"/>
    <meta name="baidu-site-verification" content="VNd3omYEXT" />
    <meta name="360-site-verification" content="4c5799282a4e8cc7d3be0659b4929ffe" />
    <meta name="sogou_site_verification" content="iMnW8j9mcI"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f61dede1be943187f04e7cc6a63b299e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else{
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <style type="text/css">
        .xuxian {
            border: dashed 1px #cccccc;
            width: 100px;
            height: 100px;
        }

        /* li 不换行，宽度根据内容自适应，通过 display:inline 实现 */
        .ul_links {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .ul_links li {
            display: inline;
            background-color: #ccd;
            margin: 0px 20px 10px 0px;
        }

        .clear {
            clear: both;
        }
    </style>
</head>
<body>
<div id="body">
    <div id="header">
        <div class="wrapper">
            <a href="/index.html" class="logo">
                <img src="/resources/zlstatic/images/logo.png" width="229" height="43" alt="招徕网招聘-专注医学生物行业招聘"/>
            </a>
            <ul class="reset" id="navheader">
                <li class="current"><a href="/index.html">首页</a></li>
                <!--<li><a href="#">毕业，遇见你</a></li>-->
                <!--<!--<li><a href="/jianli" rel="nofollow">我的简历</a></li>-->-->
                <li><a href="/issue">发布职位</a></li>
                <li><a href="/feedback.html">联系我们</a></li>
            </ul>
            <ul class="loginTop" id="loginTopId">
                <li><a href="/login.html" rel="nofollow">登录</a></li>
                <li>|</li>
                <li><a href="/register.html" rel="nofollow">注册</a></li>
            </ul>
            <dl class="collapsible_menu" id="collapsible_menu_0" style="display:none;">
                <dt>
                    <!-- todo -->
                    <span>&nbsp;</span>
                    <span class="red dn" id="noticeDot-0"></span>
                    <i></i>
                </dt>
                <dd><a rel="nofollow" href="/jianli">我的简历</a></dd>
                <dd><a href="/acmg">帐号管理</a></dd>
                <dd class="logout"><a rel="nofollow">退出</a></dd>
            </dl>
            <dl class="collapsible_menu" id="collapsible_menu_1" style="display:none;">
                <dt>
                    <span>&nbsp;</span>
                    <span class="red dn" id="noticeDot-1"></span>
                    <i></i>
                </dt>
                <dd style="display: none;"><a href="/myresumes/0">简历管理</a></dd>
                <dd style="display: none;"><a href="/mypositions/1">职位管理</a></dd>
                <dd class="btm" style="display: none;"><a href="/company_edit">公司主页</a></dd>
                <dd style="display: none;"><a href="/acmg">帐号管理</a></dd>
                <dd class="logout" style="display: none;"><a rel="nofollow">退出</a></dd>
            </dl>
        </div>
    </div><!-- end #header -->
    <div id="container">

        <div id="sidebar">
            <div class="mainNavs">

                <div class="menu_box">
                    <div class="menu_main">
                        <h2>医院/临床医疗 <span></span></h2>
                        <a href="/entJobList/普通内科">普通内科</a>
                        <a href="/entJobList/心血管">心血管</a>
                        <a href="/entJobList/妇产科">妇科</a>
                        <a href="/entJobList/妇产科">妇产科</a>
                        <a href="/entJobList/肛肠">肛肠</a>
                        <a href="/entJobList/泌尿">泌尿</a>
                        <a href="/entJobList/整形">整形</a>
                        <a href="/entJobList/儿科">儿科</a>
                        <a href="/entJobList/眼科">眼科</a>
                        <a href="/entJobList/肿瘤科">肿瘤科</a>
                        <a href="/entJobList/口腔科">口腔科</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    医院/临床
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/内科">普通内科</a>
                                <a href="/entJobList/呼吸">呼吸内科</a>
                                <a href="/entJobList/消化">消化内科</a>
                                <a href="/entJobList/心血管">心血管内科</a>
                                <a href="/entJobList/肾脏">肾脏内科</a>
                                <a href="/entJobList/血液">血液内科</a>
                                <a href="/entJobList/内分泌">内分泌</a>
                                <a href="/entJobList/神经内科">神经内科</a>
                                <a href="/entJobList/风湿免疫">风湿免疫</a>
                                <a href="/entJobList/老年病科">老年病科</a>
                                <a href="/entJobList/外科">普通外科</a>
                                <a href="/entJobList/肝胆">肝胆外科</a>
                                <a href="/entJobList/肛肠">肛肠外科</a>
                                <a href="/entJobList/神经">神经外科</a>
                                <a href="/entJobList/心胸血管">心胸血管外科</a>
                                <a href="/entJobList/全科">全科</a>
                                <a href="/entJobList/骨科">骨科</a>
                                <a href="/entJobList/儿科">儿科</a>
                                <a href="/entJobList/眼科">眼科</a>
                                <a href="/entJobList/妇产">妇产科</a>
                                <a href="/entJobList/烧伤">烧伤科</a>
                                <a href="/entJobList/急诊">急诊科</a>
                                <a href="/entJobList/麻醉">麻醉科</a>
                                <a href="/entJobList/口腔">口腔科</a>
                                <a href="/entJobList/肿瘤">肿瘤科</a>
                                <a href="/entJobList/泌尿外">泌尿外科</a>
                                <a href="/entJobList/耳鼻喉">耳鼻喉科</a>
                                <a href="/entJobList/整形外">整形外科</a>
                                <a href="/entJobList/结核病">结核病科</a>
                                <a href="/entJobList/运动医学">运动医学</a>
                                <a href="/entJobList/妇幼保健">妇幼保健</a>
                                <a href="/entJobList/职业病">职业病科</a>
                                <a href="/entJobList/精神心理">精神心理科</a>
                                <a href="/entJobList/皮肤,性病">皮肤/性病科</a>
                                <a href="/entJobList/感染,传染科">感染/传染科</a>
                                <a href="/entJobList/重病医学科,ICU">重病医学科/ICU</a>
                                <a href="/entJobList/生殖遗传中心">生殖遗传中心</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>辅助科室及护理<span></span></h2>
                        <a href="/entJobList/检验科">检验科</a>
                        <a href="/entJobList/超声科">超声科</a>
                        <a href="/entJobList/病理科">病理科</a>
                        <a href="/entJobList/影像放射">影像放射</a>
                        <a href="/entJobList/护士">护士</a>
                        <a href="/entJobList/输血科">输血科</a>
                        <a href="/entJobList/营养科">营养科</a>
                        <a href="/entJobList/药剂科">药剂科</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    辅助科室及护理
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/技师">技师</a>
                                <a href="/entJobList/导医">导医</a>
                                <a href="/entJobList/护士">护士</a>
                                <a href="/entJobList/兽医">兽医</a>
                                <a href="/entJobList/检验科">检验科</a>
                                <a href="/entJobList/超声科">超声科</a>
                                <a href="/entJobList/病理科">病理科</a>
                                <a href="/entJobList/中医科">中医科</a>
                                <a href="/entJobList/输血科">输血科</a>
                                <a href="/entJobList/营养科">营养科</a>
                                <a href="/entJobList/药剂科">药剂科</a>
                                <a href="/entJobList/影像放射">影像放射</a>
                                <a href="/entJobList/护理主任">护理主任</a>
                                <a href="/entJobList/康复医学">康复医学</a>
                                <a href="/entJobList/体检中心">体检中心</a>
                                <a href="/entJobList/医院管理">医院管理</a>
                                <a href="/entJobList/行政后勤">行政后勤</a>
                                <a href="/entJobList/病案管理">病案管理</a>
                                <a href="/entJobList/公共卫生">公共卫生</a>
                                <a href="/entJobList/针灸推拿">针灸推拿</a>
                                <a href="/entJobList/宠物医生">宠物医生</a>
                                <a href="/entJobList/宠物医生">宠物医生</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>生物化工<span></span></h2>
                        <a href="/entJobList/生物制药">生物制药</a>
                        <a href="/entJobList/生物工程">生物工程</a>
                        <a href="/entJobList/生物材料">生物材料</a>
                        <a href="/entJobList/有机合成">有机合成</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    生物化工
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/CIO">CIO</a>
                                <a href="/entJobList/生物制药">生物制药</a>
                                <a href="/entJobList/生物工程">生物工程</a>
                                <a href="/entJobList/生物材料">生物材料</a>
                                <a href="/entJobList/有机合成">有机合成</a>
                                <a href="/entJobList/生物信息">生物信息</a>
                                <a href="/entJobList/生物科研">生物科研</a>
                                <a href="/entJobList/生物教育">生物教育</a>
                                <a href="/entJobList/食品研发">食品研发</a>
                                <a href="/entJobList/分子生物学">分子生物学</a>
                                <a href="/entJobList/微生物研发">微生物研发</a>
                                <a href="/entJobList/细胞生物学">细胞生物学</a>
                                <a href="/entJobList/保健品研发">保健品研发</a>
                                <a href="/entJobList/化妆品研发">化妆品研发</a>
                                <a href="/entJobList/化工技术应用">化工技术应用</a>
                                <a href="/entJobList/化学分析测试">化学分析测试</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>医药研发/制药生产<span></span></h2>
                        <a href="/entJobList/医药技术研发管理">医药技术研发管理</a>
                        <a href="/entJobList/医药技术研发人员">医药技术研发人员</a>
                        <a href="/entJobList/临床协调员">临床协调员</a>
                        <a href="/entJobList/临床监察员">临床监察员</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    医药研发/制药生产
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/医药技术研发管理">医药技术研发管理</a>
                                <a href="/entJobList/医药技术研发人员">医药技术研发人员</a>
                                <a href="/entJobList/药品生产,质量管理">药品生产/质量管理</a>
                                <a href="/entJobList/生产工程操作">生产工程操作</a>
                                <a href="/entJobList/工艺主管及工艺员">工艺主管及工艺员</a>
                                <a href="/entJobList/临床监察员">临床监察员</a>
                                <a href="/entJobList/临床协调员">临床协调员</a>
                                <a href="/entJobList/药品注册">药品注册</a>
                                <a href="/entJobList/药品市场推广">药品市场推广</a>
                                <a href="/entJobList/医药销售代表">医药销售代表</a>
                                <a href="/entJobList/医药销售经理主管">医药销售经理主管</a>
                                <a href="/entJobList/OTC代表">OTC代表</a>
                                <a href="/entJobList/学术代表">学术代表</a>
                                <a href="/entJobList/医学总监">医学总监</a>
                                <a href="/entJobList/医学经理">医学经理</a>
                                <a href="/entJobList/医学顾问">医学顾问</a>
                                <a href="/entJobList/数据管理员">数据管理员</a>
                                <a href="/entJobList/数据统计师">数据统计师</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>医药公司/医疗器械 <span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    医药公司/药店/医疗器械
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/企业高级管理">企业高级管理</a>
                                <a href="/entJobList/渠道区域经理">渠道区域经理</a>
                                <a href="/entJobList/销售及市场培训">销售及市场培训</a>
                                <a href="/entJobList/广告市场策划">广告市场策划</a>
                                <a href="/entJobList/药店店长及销售员">药店店长及销售员</a>
                                <a href="/entJobList/医疗设备生产质量管理">医疗设备生产质量管理</a>
                                <a href="/entJobList/医疗设备注册">医疗设备注册</a>
                                <a href="/entJobList/医疗器械销售">医疗器械销售</a>
                                <a href="/entJobList/医疗器械维修人员">医疗器械维修人员</a>
                                <a href="/entJobList/医疗器械市场推广">医疗器械市场推广</a>
                                <a href="/entJobList/营销管理">营销管理</a>
                                <a href="/entJobList/产品经理">产品经理</a>
                                <a href="/entJobList/市场调研">市场调研</a>
                                <a href="/entJobList/零售管理">零售管理</a>
                                <a href="/entJobList/执业药师">执业药师</a>
                                <a href="/entJobList/行政管理">行政管理</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>销售及行政管理 <span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    销售及行政管理
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/经销商">经销商</a>
                                <a href="/entJobList/电话销售">电话销售</a>
                                <a href="/entJobList/销售代表">销售代表</a>
                                <a href="/entJobList/销售总监">销售总监</a>
                                <a href="/entJobList/商务助理">商务助理</a>
                                <a href="/entJobList/销售助理">销售助理</a>
                                <a href="/entJobList/销售工程师">销售工程师</a>
                                <a href="/entJobList/销售经理主管">销售经理主管</a>
                                <a href="/entJobList/销售行政管理">销售行政管理</a>
                                <a href="/entJobList/销售行政助理">销售行政助理</a>
                                <a href="/entJobList/商务经理主管">商务经理主管</a>
                                <a href="/entJobList/医学仓储管理">医学仓储管理</a>
                                <a href="/entJobList/渠道分销经理主管">渠道分销经理主管</a>
                                <a href="/entJobList/区域销售经理主管">区域销售经理主管</a>
                                <a href="/entJobList/客户经理及客户代表">客户经理及客户代表</a>
                                <a href="/entJobList/采购经理及专员">采购经理及专员</a>
                                <a href="/entJobList/渠道,分销专员">渠道/分销专员</a>
                                <a href="/entJobList/保险">保险</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>公关市场营销 <span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    公关市场营销
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/公关经理主管">公关经理主管</a>
                                <a href="/entJobList/会务经理主管">会务经理主管</a>
                                <a href="/entJobList/媒介经理主管">媒介经理主管</a>
                                <a href="/entJobList/政府事务关系">政府事务关系</a>
                                <a href="/entJobList/市场营销总监">市场营销总监</a>
                                <a href="/entJobList/产品品牌专员">产品品牌专员</a>
                                <a href="/entJobList/市场渠道通路">市场渠道通路</a>
                                <a href="/entJobList/促销经理主管">促销经理主管</a>
                                <a href="/entJobList/促销员,导购">促销员/导购</a>
                                <a href="/entJobList/公关专员及助理">公关专员及助理</a>
                                <a href="/entJobList/会务专员及助理">会务专员及助理</a>
                                <a href="/entJobList/媒介专员及助理">媒介专员及助理</a>
                                <a href="/entJobList/市场营销经理主管">市场营销经理主管</a>
                                <a href="/entJobList/产品品牌经理主管">产品品牌经理主管</a>
                                <a href="/entJobList/市场营销专员及助理">市场营销专员及助理</a>
                                <a href="/entJobList/市场研究分析调研">市场研究分析调研</a>
                                <a href="/entJobList/市场企划经理及专员">市场企划经理及专员</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>财务/人力<span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    财务/人力
                                </a>
                            </dt>
                            <dd>

                                <a href="/entJobList/会计">会计</a>
                                <a href="/entJobList/出纳员">出纳员</a>
                                <a href="/entJobList/统计员">统计员</a>
                                <a href="/entJobList/会计文员">会计文员</a>
                                <a href="/entJobList/财务分析">财务分析</a>
                                <a href="/entJobList/审计税务">审计税务</a>
                                <a href="/entJobList/财务总监">财务总监</a>
                                <a href="/entJobList/财务经理">财务经理</a>
                                <a href="/entJobList/财务助理及顾问">财务助理及顾问</a>
                                <a href="/entJobList/成本分析管理">成本分析管理</a>
                                <a href="/entJobList/财务主管,总帐主管">财务主管/总帐主管</a>
                                <a href="/entJobList/会计经理主管">会计经理主管</a>
                                <a href="/entJobList/人力资源,薪酬管理">人力资源/薪酬管理</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>客服及技术支持 <span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    客服及技术支持
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/客服经理主管">客服经理主管</a>
                                <a href="/entJobList/客服专员及助理">客服专员及助理</a>
                                <a href="/entJobList/技术支持经理主管">技术支持经理主管</a>
                                <a href="/entJobList/技术支持工程师">技术支持工程师</a>
                                <a href="/entJobList/咨询热线,呼叫中心">咨询热线/呼叫中心</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>互联网/电脑/软件 <span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    互联网/电脑/软件
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/软件工程师">软件工程师</a>
                                <a href="/entJobList/EP技术,开发应用">EP技术/开发应用</a>
                                <a href="/entJobList/系统集成工程师">系统集成工程师</a>
                                <a href="/entJobList/系统分析员">系统分析员</a>
                                <a href="/entJobList/系统工程师">系统工程师</a>
                                <a href="/entJobList/系统架构设计师">系统架构设计师</a>
                                <a href="/entJobList/数据库管理员">数据库管理员</a>
                                <a href="/entJobList/电脑辅助设计工程师">电脑辅助设计工程师</a>
                                <a href="/entJobList/管理信息系统">管理信息系统</a>
                                <a href="/entJobList/网络管理">网络管理</a>
                                <a href="/entJobList/硬件维护">硬件维护</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>媒体/出版/印刷/翻译 <span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    媒体/出版/印刷/翻译
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/总编,副总编">总编/副总编</a>
                                <a href="/entJobList/编辑,作家,撰稿人">编辑/作家/撰稿人</a>
                                <a href="/entJobList/记者">记者</a>
                                <a href="/entJobList/美术编辑">美术编辑</a>
                                <a href="/entJobList/排版设计">排版设计</a>
                                <a href="/entJobList/校对录入">校对录入</a>
                                <a href="/entJobList/制版印刷">制版印刷</a>
                                <a href="/entJobList/英语翻译">英语翻译</a>
                                <a href="/entJobList/小语种">其它语种</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>教育/科研/实习/其他<span></span></h2>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="#">
                                    教育/科研/实习/其他
                                </a>
                            </dt>
                            <dd>
                                <a href="/entJobList/教师讲师">教师讲师</a>
                                <a href="/entJobList/专家学者">专家学者</a>
                                <a href="/entJobList/科研管理人员">科研管理人员</a>
                                <a href="/entJobList/科研人员">科研人员</a>
                                <a href="/entJobList/实验室管理,实验员">实验室管理及实验员</a>
                                <a href="/entJobList/文职,秘书">文职/秘书</a>
                                <a href="/entJobList/博士后">博士后</a>
                                <a href="/entJobList/研究生">研究生</a>
                                <a href="/entJobList/应届毕业生">大学应届毕业生</a>
                                <a href="/entJobList/大专,中专,职校生">大专/中专/职校生</a>
                                <a href="/entJobList/储备干部">储备干部</a>
                                <a href="/entJobList/培训生">培训生</a>
                                <a href="/entJobList/实习生">实习生</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <a class="subscribe" href="#" target="_blank">订阅职位</a>
        </div>
        <div class="content">
            <div id="search_box">
                <form id="searchFormIndex" name="searchForm" method="get">
                    <ul id="searchType">
                        <li data-searchtype="1" class="type_selected">职位</li>
                        <li data-searchtype="4">公司</li>
                    </ul>
                    <div class="searchtype_arrow"></div>
                    <input type="text" id="search_input" onkeydown='if(event.keyCode==13) return false;'
                           name="labelWords" tabindex="1" value="" placeholder="请输入职位名称，如：儿科医生"/>
                    <input type="button" id="search_button" onclick="buttonClick()" value="搜索"/>
                </form>
            </div>
            <dl class="hotSearch">
                <dt>热门搜索：</dt>
                <dd><a href="/entJobList/护士">护士</a></dd>
                <dd><a href="/entJobList/妇科">妇科</a></dd>
                <dd><a href="/entJobList/药剂师">药剂师</a></dd>
                <dd><a href="/entJobList/妇产科">妇产科</a></dd>
                <dd><a href="/entJobList/口腔">口腔</a></dd>
                <dd><a href="/entJobList/儿科">儿科</a></dd>
                <dd><a href="/entJobList/内科">内科</a></dd>
            </dl>
            <div id="home_banner">
                <ul class="banner_bg">
                    <li class="banner_bg_1 current">
                        <a href="#"
                           target="_blank"><img src="/resources/zlstatic/images/index/zsy.png" width="612" height="160" alt="医疗、教学、科研、预防为一体的大型综合性医院"/></a>
                    </li>
                    <li class="banner_bg_2">
                        <a href="#"
                           target="_blank"><img src="/resources/zlstatic/images/index/20160525_115844_699.jpg" width="612" height="160" alt="前沿生命科学技术和前沿医学技术"/></a>
                    </li>
                    <li class="banner_bg_3">
                        <a href="#"
                           target="_blank"><img src="/resources/zlstatic/images/index/20160427_120357_714.jpg" width="612" height="160" alt="集医疗、科研、教学为一体的大型综合医院"/></a>
                    </li>
                </ul>
                <div class="banner_control">
                    <em></em>
                    <ul class="thumbs">
                        <li class="thumbs_1 current">
                            <i></i>
                            <img src="/resources/zlstatic/images/index/zsy.png" width="113" height="42" alt="医疗、教学、科研、预防为一体的大型综合性医院"/>
                        </li>
                        <li class="thumbs_2">
                            <i></i>
                            <img src="/resources/zlstatic/images/index/20160525_115844_699.jpg" width="113" height="42" alt="前沿生命科学技术和前沿医学技术"/>
                        </li>
                        <li class="thumbs_3">
                            <i></i>
                            <img src="/resources/zlstatic/images/index/20160427_120357_714.jpg" width="113" height="42" alt="集医疗、科研、教学为一体的大型综合医院"/>
                        </li>
                    </ul>
                </div>
            </div><!--/#main_banner-->
            <ul class="reset hotabbing">
                <li class="current">热门职位</li>
                <li>最新职位</li>
            </ul>
            <div id="hotList">
                <ul class="hot_pos reset" id="hotPosJoblistResult">
                    <#list hotJobs as hot>
                        <#if hot_index / 2 = 0>
                            <li class="odd clearfix">
                                <#else>
                            <li class="clearfix" class="xuxian">
                        </#if>
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/job/${hot.jobId!}.html" style="color: #23B6D2" target="_blank">${hot.jobName!}</a>
                                &nbsp;
                                <span class="c9">[${hot.cityName!}]</span>
                            </div>
                            <span style="color:#f60"><em class="c7"></em>${hot.payroll!}</span>
                            <span><em class="c7"></em>${hot.educationName!}</span>
                            <span><em class="c7"></em> ${hot.experienceName!}</span>
                            <br/>
                            <span style="color: #999">${hot.publishDate!}</span>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="/ent/${hot.entCompany.companyId!}" target="_blank">${hot.entCompany.companyName!}</a>
                            </div>
                            <span><em class="c7"></em>${hot.entCompany.companyTypeName!}</span>
                            <span><em class="c7"></em> ${hot.entCompany.industryName!}</span>
                            <br/>
                            <ul class="companyTags reset">
                                <li>${hot.entCompany.companySizeName!}</li>
                            </ul>
                        </div>
                        </li>
                    </#list>
                    <a href="#" class="btn fr" target="_blank">查看更多</a>
                </ul>
                <ul class="hot_pos hot_posHotPosition reset" style="display:none;" id="hotPosHotPositionJobResult">
                    <#list latestJobs as lastest>
                        <#if lastest_index / 2 = 0>
                            <li class="odd clearfix">
                                <#else>
                            <li class="clearfix">
                        </#if>
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/job/${lastest.jobId!}.html" style="color: #23B6D2" target="_blank">${lastest.jobName!}</a>
                                &nbsp;
                                <span class="c9">[${lastest.cityName!}]</span>
                            </div>
                            <span style="color:#f60"><em class="c7"></em>${lastest.payroll!}</span>
                            <span><em class="c7"></em>${lastest.educationName!}</span>
                            <span><em class="c7"></em> ${lastest.experienceName!}</span>
                            <br/>
                            <span style="color: #999">${lastest.publishDate!}</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany"><a href="/ent/${lastest.entCompany.companyId!}"
                                                           target="_blank">${lastest.entCompany.companyName!}</a>
                            </div>
                            <span><em class="c7"></em>${lastest.entCompany.companyTypeName!}</span>
                            <span><em class="c7"></em> ${lastest.entCompany.industryName!}</span>
                            <br/>
                            <ul class="companyTags reset">
                                <li>${lastest.entCompany.companySizeName!}</li>
                            </ul>
                        </div>
                        </li>
                    </#list>
                    <a href="#" class="btn fr" target="_blank">查看更多</a>
                </ul>
            </div>


            <div class="clear"></div>
        </div>
        <input type="hidden" value="" name="userid" id="userid"/>
        <div class="clear"></div>
        <a id="backtop" title="回到顶部" rel="nofollow"></a>
    </div><!-- end #container -->
</div><!-- end #body -->

<div id="footer">
    <div class="wrapper">
        <ul class="ul_links">
            <li><a href="http://www.21wecan.com" target="_blank">中国卫生人才网</a></li>
            <li><a href="http://www.djob.com" target="_blank">中国专业人才网</a></li>
            <li><a href="http://www.rc120.com/" target="_blank">四川卫生人才网</a></li>
            <li><a href="http://www.120.net/" target="_blank">120健康网</a></li>
            <li><a href="http://www.jiankang.com/" target="_blank">百姓健康网</a></li>
            <li><a href="http://www.120ask.com/" target="_blank">快速问医生</a></li>
            <li><a href="http://www.39.net/" target="_blank">39健康网</a></li>
            <li><a href="http://www.9939.com/" target="_blank">久久健康网</a></li>
            <li><a href="http://www.doctor001.com/" target="_blank">中国医药网</a></li>
            <li><a href="http://zp.china.com.cn" target="_blank">中国招聘网</a></li>
            <li><a href="http://www.kq36.com" target="_blank">康强医疗人才网</a></li>
            <li><a href="http://www.highpin.cn/" target="_blank">高端人才招聘网</a></li>
            <li><a href="http://www.cz365.com/" target="_blank">郴州招聘网</a></li>
            <li><a href="http://www.edrc.cn/" target="_blank">南阳人才网</a></li>
            <li><a href="http://www.quanzhi.com/" target="_blank">找工作网站</a></li>
            <li><a href="http://www.chinahr.com/xian/" target="_blank">西安人才网</a></li>
            <li><a href="http://www.nd597.com/" target="_blank">宁德人才网</a></li>
            <li><a href="http://www.henanrc.com/" target="_blank">河南人才网</a></li>
            <li><a href="http://www.yixuezp.com.cn" target="_blank">中国医疗卫生人才网</a></li>
            <li><a href="http://www.138edu.com" target="_blank">中国美妆培训网</a></li>
            <li><a href="http://job.hxyjw.com/" target="_blank">医院招聘网</a></li>
            <li><a href="http://www.0566job.com" target="_blank">池州人才网</a></li>
            <li><a href="http://www.dcdrcw.com/" target="_blank">成都人才网</a></li>
            <li><a href="http://www.kqzp.cn/" target="_blank">口腔招聘网</a></li>
            <li><a href="http://www.kao8.cc/wszg/" target="_blank">卫生资格考试</a></li>
            <li><a href="http://www.0769jiaoshi.com/" target="_blank">东莞教师招聘网</a></li>
            <li><a href="http://www.medrc.net" target="_blank">中国医药人才网</a></li>
            <li><a href='http://www.tcm100.com' target=_blank>中医e百</a></li>
            <li><a href='http://www.nzjsw.com' target=_blank>闹钟健身网</a></li>
            <li><a href='http://www.51qe.cn' target=_blank>大众医药网</a></li>
            <li><a href='http://www.hunt007.com/' target=_blank>广州人才网</a></li>
            <li><a href='http://www.tcrcsc.com' target=_blank>太仓人才网</a></li>
            <li><a href='http://www.wujue.com/' target=_blank>中医五绝网</a></li>
            <li><a href='http://www.138job.com' target=_blank>中国美容人才</a></li>
            <li><a href='http://www.cjol.com' target=_blank>找工作</a></li>
            <li><a href='http://www.chemdrug.com/' target=_blank>药品资讯网</a></li>
            <li><a href='http://www.jobmd.cn' target=_blank>丁香人才网</a></li>
            <li><a href='http://xl.39.net/' target=_blank>39心理</a></li>
            <li><a href='http://www.xsjk.net/' target=_blank>携手健康网</a></li>
            <li><a href='http://www.djob.com/' target=_blank>中国专业人才</a></li>
            <li><a href='http://js.offcn.com/' target=_blank>江苏公务员</a></li>
            <li><a href='http://www.ccoo.cn/' target=_blank>城市联盟</a></li>
            <li><a href='http://www.dx-job.com/' target=_blank>广州兼职</a></li>
            <li><a href='http://www.jianzhi8.com/' target=_blank>兼职吧</a></li>
            <li><a href='http://fj.offcn.com/' target=_blank>福建人事考试</a></li>
            <li><a href='http://zj.offcn.com/' target=_blank>浙江人事考试</a></li>
            <li><a href='http://www.szhk.com/' target=_blank>深港在线</a></li>
            <li><a href='http://www.iiyi.com' target=_blank>爱爱医</a></li>
            <li><a href='http://www.ynzp.com' target=_blank>昆明招聘</a></li>
            <li><a href='http://jianli.yjbys.com/' target=_blank>个人简历</a></li>
            <li><a href='http://www.jialidun.com/' target=_blank>家里蹲大学</a></li>
            <li><a href='http://www.kuakao.com/' target=_blank>考研网</a></li>
            <li><a href='http://www.job5156.com' target=_blank>找工作</a></li>
            <li><a href='http://www.7po.com' target=_blank>智能电视论坛</a></li>
            <li><a href='http://ypk.39.net' target=_blank>39药品通</a></li>
            <li><a href='http://www.caihao.com' target=_blank>徐州招聘</a></li>
            <li><a href='http://www.szpxe.com/' target=_blank>神州培训网</a></li>
            <li><a href='http://www.12yao.com' target=_blank>十二药网</a></li>
            <li><a href='http://nv.99.com.cn/' target=_blank>女性健康</a></li>
            <li><a href='http://www.0951job.com' target=_blank>宁夏英才网</a></li>
            <li><a href='http://www.zhzyw.org' target=_blank>中华中医网</a></li>
            <li><a href='http://www.qnr.cn' target=_blank>青年人网</a></li>
            <li><a href='http://www.120job.cn' target=_blank>医院招聘</a></li>
            <li><a href='http://www.tsrcw.com/' target=_blank>唐山人才网</a></li>
            <li><a href='http://www.51daifu.com' target=_blank>健康</a></li>
            <li><a href='http://www.liuxue86.com/gongwuyuan/' target=_blank>公务员考试</a></li>
            <li><a href='http://book.kongfz.com' target=_blank>孔夫子买书网</a></li>
            <li><a href='http://www.hnz.com.cn' target=_blank>湖南招聘网</a></li>
            <li><a href='http://www.xuzhoujob.com' target=_blank>徐州英才网</a></li>
            <li><a href='http://www.veryeast.cn' target=_blank>最佳东方</a></li>
            <li><a href='http://www.goodjobs.cn' target=_blank>安徽招聘网</a></li>
            <li><a href='http://www.1010jz.com' target=_blank>兼职网</a></li>
            <li><a href='http://www.91160.com' target=_blank>就医160</a></li>
            <li><a href='http://www.scrc168.com' target=_blank>四川省人才网</a></li>
            <li><a href='http://www.xizhi.com/' target=_blank>悉知网</a></li>
            <li><a href='http://www.rgf-hragent.com.cn' target=_blank>日企招聘网</a></li>
            <li><a href='http://www.jobuy.com' target=_blank>猎才医药网</a></li>
            <li><a href='http://zx.39.net' target=_blank>39整形资讯</a></li>
            <li><a href='http://www.cshr.com.cn' target=_blank>湖南人才网</a></li>
            <li><a href='http://www.hbrc.com' target=_blank>河北人才网</a></li>
            <li><a href='http://www.qlrc.com' target=_blank>齐鲁人才网</a></li>
            <li><a href='http://www.yaofangwang.com' target=_blank>网上药房</a></li>
            <li><a href='http://www.cn939.com' target=_blank>古方中医</a></li>
            <li><a href='http://www.zhaopin.com/shenzhen/' target=_blank>深圳招聘网</a></li>
            <li><a href='http://haoyisheng.com' target=_blank>好医生</a></li>
            <li><a href='http://www.yp900.com' target=_blank>快易捷药品网</a></li>
            <li><a href='http://www.job592.com' target=_blank>592职业圈</a></li>
            <li><a href='http://zph.120job.cn/' target=_blank>招聘会</a></li>
            <li><a href='http://www.zysj.com.cn' target=_blank>中医世家</a></li>
            <li><a href='http://www.01job.cn' target=_blank>第一招聘网</a></li>
            <li><a href='http://www.chinahr.com/shanghai/' target=_blank>上海人才网</a></li>
            <li><a href='http://www.job001.cn' target=_blank>国际人才网</a></li>
            <li><a href='http://ah.offcn.com' target=_blank>安徽中公教育</a></li>
            <li><a href='http://www.tzrl.com' target=_blank>台州人才网</a></li>
            <li><a href='http://www.shoudurc.com' target=_blank>首都人才网</a></li>
            <li><a href='http://app.tongbu.com/' target=_blank>IPhone游</a></li>
            <li><a href='http://www.apple.com/cn/iphone-7/' target=_blank>iphone7换购</a></li>
            <li><a href='http://www.apple.com/cn/iphone-7/' target=_blank>iphone7</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <a href="feedback.html">联系我们</a>
        <a href="#">招徕网微博</a>
        <a class="footer_qr" href="javascript:void(0)" rel="nofollow">招徕网微信<i></i></a>
        <div class="copyright">© 2015-2016 版权所有：广州普壳软件有限公司
            <a target="_blank"
               href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备16030873号-1</a>
        </div>
    </div>
</div>
<!--<script src="/resources/thirdparty/js/allmobilize.min.js" id="allmobilize" type="text/javascript"></script>-->
<script src="/resources/libs/js/jquery/jquery.1.10.1.min.js" type="text/javascript"></script>
<script src="/resources/libs/js/jquery/jquery.lib.min.js" type="text/javascript"></script>
<script src="/resources/thirdparty/js/additional-methods.js" type="text/javascript"></script>
<script type="text/javascript" src="/resources/thirdparty/js/home.min.js"></script>
<script type="text/javascript" src="/resources/thirdparty/js/core.min.js"></script>
<script type="text/javascript" src="/resources/thirdparty/js/popup.min.js"></script>
<script type="text/javascript" src="/resources/zlstatic/js/router.js"></script>
<script type="text/javascript" src="/resources/zlstatic/js/common.js"></script>
<!-- <script src="style/js/wb.js" type="text/javascript" charset="utf-8"></script>
 -->

<script>
    $(function () {

        //$.addCnfwsy()
        //绑定点击事件
        $(".reset.hotabbing>li").each(function (index, ele) {
            $(ele).unbind(); //移除所有
            $(ele).bind("click", function () {
                //变化点击的tab样式
                $(ele).attr("class", "current");
                //显示当前div
                $($("#hotList>ul")[index]).attr("style", "");

                //兄弟节点变成未点击状态
                $(ele).siblings().attr("class", "");
                //隐藏当前div
                $($("#hotList>ul")[index]).siblings().attr("style", "display:none;");

            });
            //console.info($(ele).text());
        });


//        //绑定事件
//        $("#sidebar a").each(function (index, ele) {
//            $(ele).bind("click", function () {
//                window.location = ctx + "entJobList/" + $(ele).text();
//            });
//
//        });


    });

    //    //首页跳转
    function buttonClick() {
        $("#searchFormIndex").attr("action", ctx + "entJobList/turnPage");
        $("#searchFormIndex").submit();
    }
</script>
</body>
</html>